<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>564979789674-qmq4p7nsctbooiat5fka33gsp46rt0nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564979789674-qmq4p7nsctbooiat5fka33gsp46rt0nm</string>
	<key>API_KEY</key>
	<string>AIzaSyC7rovUKKVt_s_5-B85qUk_106nbt-Qxgo</string>
	<key>GCM_SENDER_ID</key>
	<string>564979789674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nd-audi-research.Audi-Research-App</string>
	<key>PROJECT_ID</key>
	<string>nd-audi-research-fdcb2</string>
	<key>STORAGE_BUCKET</key>
	<string>nd-audi-research-fdcb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:564979789674:ios:d363097bada3de85</string>
	<key>DATABASE_URL</key>
	<string>https://nd-audi-research-fdcb2.firebaseio.com</string>
</dict>
</plist>